* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f8fd;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-canter {
    justify-content: center !important;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

.section_nev {
    display: grid;
    grid-template-columns: 10% 48% 26%;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
    padding: 1rem 2rem;
    justify-content: space-between;
}

.left_nav {
    height: 100%;
}

.right_nav {
    justify-content: end;
}

.img_box {
    min-width: 50px;
}

.center_nav ul {
    justify-content: space-between;
    height: 100%;
}

.user_avatar {
    width: 50px;
    height: 50px;
}

.user_avatar img {
    border-radius: 100%;
}

.user_section {
    gap: 1rem;
}

.group_icon {
    gap: 2rem;
    margin-right: 2rem;
}

.user_connection_ststus {
    width: 65px;
    background-color: #edfdfa;
    color: #1f927f;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
}

.active {
    background-image: linear-gradient(-30deg, #3ac2ff 50%, #2f56ff);
    color: #fff;
    padding: 10px;
    border-radius: 22px;
    font-weight: bold;
}

#toggle_nav:checked+label+ul {
    transform: translateX(0);
}

#toggle_nav:checked+label span:first-child {
    transform: rotate(127deg);
    position: relative;
    top: -4px;
}

#toggle_nav:checked+label .line_middle {
    transform: translateX(10px);
    opacity: 0;
}

#toggle_nav:checked+label span:last-child {
    transform: rotate(58deg);
    position: relative;
    top: -12px;
}

.line {
    border-bottom: 1px solid;
    width: 14px;
    display: block;
    margin-bottom: 3px;
    transition: all 250ms ease-in-out;
}

.label_toggle_nav {
    position: relative;
    top: 16px;
}

.toggle_list_nav_mobile {
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100%;
    top: 0;
    width: 200px;
    transform: translateX(-350px);
    transition: all 250ms ease-in-out;
    padding: 2rem 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow-x: hidden;
}